<div *ngIf="followingUsers && followingUsers.length > 0" class="container">
  <div class="card" style="margin-left: 130px; margin-right: 130px;">
    <div class="card-header text-center">
      <h5 class="card-title mb-4" style="margin-top: 10px;">Usuarios que sigues:</h5>
    </div>
    <ul class="list-group list-group-flush" style="max-width: 750px; margin: 0 auto;">
      <li *ngFor="let user of followingUsers" class="list-group-item d-flex justify-content-between align-items-center mb-3">
        <span>{{ user.email }}</span>
        <div>
          <button class="btn btn-primary btn-sm mx-1" (click)="unfollowUser(user._id)">
            Dejar de seguir
          </button>
          <button class="btn btn-secondary btn-sm mx-1" (click)="viewProfile(user._id)">
            Ver perfil
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>