<div *ngIf="user">
  <h2>Perfil de {{ user.name || user.email }}</h2>

  <!-- Mostrar el formulario de edición si está en modo de edición -->
  <ng-container *ngIf="isEditMode; else viewMode">
    <!-- Formulario de edición -->
    <form (ngSubmit)="saveChanges()">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" [(ngModel)]="editedUser.name">

      <label for="description">Descripción:</label>
      <textarea id="description" name="description" [(ngModel)]="editedUser.description"></textarea>

      <label for="image">Imagen URL:</label>
      <input type="text" id="image" name="image" [(ngModel)]="editedUser.image">

      <button type="submit">Guardar Cambios</button>
    </form>
  </ng-container>

  <!-- Vista normal -->
  <ng-template #viewMode>
    <!-- Mostrar imagen si existe -->
    <p *ngIf="user.image">
      <img *ngIf="isEditMode && editedUser.image" [src]="editedUser.image" alt="Imagen de perfil">
    </p>

    <p *ngIf="user.description">Descripción: {{ user.description }}</p>

    <p>Correo Electrónico: {{ user.email }}</p>

    <!-- Agregar el contador de seguidores si existe la propiedad followers -->
    <p *ngIf="user.followers">Seguidores: {{ user.followers?.length }}</p>

    <!-- En el botón para activar el modo de edición -->
    <button *ngIf="isOwnProfile && !isEditMode" (click)="enterEditMode()">Editar Perfil</button>

    <button (click)="showFollowingUsers()">Ver Seguidores</button>

    <button *ngIf="canFollowUser(user._id)" (click)="navigateToSuggestedUsers()">Personas que quizás conozcan</button>

    <!-- Otras secciones del perfil aquí -->
  </ng-template>
</div>
