<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Nuestra Compañía</h5>
                <p>
                    Somos una empresa dedicada a ofrecer los mejores recetas de cosina. Fundada en 2023 en Trujillo, Perú.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Enlaces Útiles</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Política de Privacidad</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Términos de Uso</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>
                <ul class="list-unstyled d-flex justify-content-start mb-0 ">
                    <li class="mr-2 ">
                        <a href="#!" class="text-dark" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="mr-2">
                        <a href="#!" class="text-dark" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-dark" href="https://micompania.com/" style="transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'"><i class="fas fa-globe"></i></a>
    </div>
</footer>
