<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <p>Registarse</p>
      </div>
      <div class="card-body">
        <form (submit)="signUp()">
          <div class="form-group">
            <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block"> Registarse
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <body class="background-color">
  <div class="container" id="container">

    <div class="form-container sign-up-container">
      <form action="#" (submit)="signUp()">
        <h1>Crear tu cuenta</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Utiliza tu correo electrónico para registrarte</span>
        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus />
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required />
        <button type="submit"  (click)="toggleForm()">Registrarse</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form (submit)="signIn()">
        <h1>Iniciar Sesion</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Introduce tu usuario creado</span>
        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus />
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required />
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button>Login</button>
      </form>
    </div>

    <div class="overlay-container" >
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn" (click)="toggleForm()">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hola Bienvenido</h1>
          <p>Introduce tus datos personales</p>
          <button class="ghost" id="signUp"  type="button" (click)="toggleForm()">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</body> -->
