<!-- details.component.html -->

<ng-template #noServiceDetails>
  <p>No se ha seleccionado ningún servicio.</p>
</ng-template>

<div *ngIf="serviceId; else noServiceDetails" clas>
  <div *ngFor="let service of services">
    <div
      class="b pt-3 "
      style="box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2)"
    >
      <div class="container ms-12">
        <div class="row">
          <div class="col-md-8 p-0 ps-5">
            <div class="card mb-4">
              <img
                [src]="getImageUrl(service.image)"
                class="card-img-top"
                alt="Imagen de la tarjeta "
                style="
                  width: 100%;

                  max-height: 400px;
                  image-rendering: pixelated;
                "
              />
              <h2 class="pt-2 ps-3">{{ service.name }}</h2>
              <div class="col-md-12">
                <div class="mb-4 pt-3">
                  <div class="row ms-5">
                    <div class="col-md-2">
                      <img
                        src="assets/images/usuario.jpg"
                        alt="Foto de perfil"
                        class="rounded-circle"
                        style="width: 60px; height: 60px"
                      />
                    </div>
                    <div class="col-md-10">
                      <h6>{{ user.email }}</h6>
                      <p>{{service.origin}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <hr class="mb-4" style="border-color: gray" />
                <!-- <div class="text-center mt-3">
                  <i class="bi bi-hand-thumbs-up me-3"></i>
                  
                  <i class="bi bi-heart me-3"></i>
                 
                  <i class="bi bi-chat-dots me-3"></i>
                  
                  <button class="btn btn-success">Seguir</button>
                 
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h5>Comentarios</h5>
          
            <div class="card">
              <div class="ms-2 mt-2 ">
                <div *ngFor="let comment of comments" class="list-group-item pt-2">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ user.email }}</h6>
                    <small class="text-muted pe-2">{{ comment.date | date : "dd-MM-yyyy" }}</small>
                  </div>
                  <p class="mb-1">{{ comment.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Descripción de la Receta</h2>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Ingredientes</h2>
              <ul class="list-unstyled">
                <li *ngFor="let ingredient of service.ingredients; let i = index">
                  {{ i + 1 }}. {{ ingredient }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        
        
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Pasos</h2>
              <ol class="list-unstyled">
                <li *ngFor="let step of service.steps; let i = index">
                  <div class="row mb-2">
                    <div class="col-1">
                      <div class="circle blue-bg">{{ i + 1 }}</div>
                    </div>
                    <div class="col">
                      <span>{{ step.trim() }}</span>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Comentarios</h2>
              <!-- Formulario para agregar comentario -->
              <form (ngSubmit)="addComment()" #commentForm="ngForm">
                <div class="form-group">
                  <label for="textoComentario">Comentario:</label>
                  <textarea
                    class="form-control"
                    id="textoComentario"
                    name="text"
                    [(ngModel)]="newCommentText"
                    required
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary boton-redondeado"
                  [disabled]="!commentForm.valid"
                >
                  Agregar Comentario
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
